<div class='form-group align-item-center container border' >
  <div class='text-center'>
  <h1>Edit Task</h1>
  </div>

  <%= form_for @task do |f| %>
    <div class='row'>
      <div class='col-12'>
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class:'form-control' %>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-12'>
        <%= f.label :description, 'Description' %>
        <%= f.text_field :description, class:'form-control' %>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-12'>
        <%= f.label :priority, 'Priority' %>
        <%= f.select(:priority, ['low', 'medium', 'high' ], {},{:class=> 'form-control'}) %>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-12'>
        <%= f.label :status, 'Status' %>
        <%= f.select(:status, ['complete', 'incomplete'], {},{:class=> 'form-control'}) %>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-12'></p>
      <div class='col-12' align='center'>
      <%= f.submit class: 'btn btn-primary mt-2' %>
      </div>
    </div>

  <% end %>
</div>
